PORT=3000
SUPABASE_URL= https://uqtablevpkmtogwzkfzd.supabase.co/rest/v1/
SUPABASE_KEY =eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVxdGFibGV2cGttdG9nd3prZnpkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM5MjY4OTksImV4cCI6MjA5OTUwMjg5OX0.GCt2QNk0wqKkyd-zQvTrnIi_2sKhrhxKMlyynMMLSCw
JWT_SECRET = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVxdGFibGV2cGttdG9nd3prZnpkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzkyNjg5OSwiZXhwIjoyMDk5NTAyODk5fQ.ctAxXD5I_2lVWy1CFo_CFKGjq-ozcVRFSHTg3KgMFlY